body {
    background-color: rgb(185, 220, 226);
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

#main {
    width: 600px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    border: 10px white solid;
    border-top: 0;
    border-bottom: 0;
    background-image:url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bird {
    background-color: rgb(209, 173, 72);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#pipes {
    display: flex;
    gap: 100px;
    position: absolute;
    top: 0;
}
.pipe {
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pipePart {
    width: 100%;
    background: rgb(83, 206, 83);
}

#gameover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 100px;
    background: rgb(214, 139, 41);
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 900;
    visibility: hidden;
}
